body {
    font-family: "Arial", sans-serif;
    background-color: #e91e63;
    color: white;
    text-align: center;
}
.quiz-container {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 90%;
    max-width: 800px;
}
.question {
    margin-bottom: 20px;
    font-size: 36px;
}
.answer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
.answer-item {
    font-size: 22px;
    background-color: #ffffff;
    color: #333;
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.answer-item:hover {
    background-color: #f8bbd0;
}
.selected-answer {
    background-color: #c2185b;
}
.quiz-container .answer-item.incorrect-answer {
    color: #ffffff;
    background-color: #ff0000;
}
